<div class="card mt-3">
    <div class="card-body">
        <div class="content">
            @ChildContent
            <button onclick="@OnDeleteCallback" class="btn btn-danger"><i class="oi oi-trash"></i> Delete</button>
        </div>
    </div>
</div>